<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Raffle Prizes!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <header class="header">
            <div class="container">
                <div class="row">
                    <div class="col-sm text-center">
                        <h1><a href="{{ path('homepage') }}">Raffle Prizes Ltd.</a></h1>
                    </div>
                </div>
            </div>
        </header>
        <div class="main-content">
            {% for msg in app.session.flashBag.get('success') %}
                <div class="alert alert-success text-center">
                    {{ msg }}
                </div>
            {% endfor %}
            {% for msg in app.session.flashBag.get('error') %}
                <div class="alert alert-danger text-center">
                    {{ msg }}
                </div>
            {% endfor %}
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
