{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row align-content-center">
            <div class="col-sm text-center jumbotron">

                    {% if is_granted('ROLE_USER') %}
                        <h1 class="page-header">Welcome, {{ user.username }}!</h1>
                        <h2>You have {{ user.loyaltyPoints }} Loyalty Point(s)</h2>
                        <h2>Are you ready to raffle?</h2>
                        <a class="btn btn-info" href="{{ path('raffle') }}">Raffle Prizes</a>
                        <a class="btn btn-warning" href="{{ path('security_logout') }}">Logout</a>
                    {% else %}
                        <h1 class="page-header">Welcome, dude!</h1>
                        <h2>To be able to raffle prizes, please login or register a new user</h2>
                        <a class="btn btn-success" href="{{ path('security_login') }}">Login</a>
                        <a class="btn btn-primary" href="{{ path('user_register') }}">Register</a>
                    {% endif %}
                <h2>Your Prizes:</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-center">Title</th>
                            <th class="text-center">Qty</th>
                            <th class="text-center">Action</th>
                            <th class="text-center">Status</th>
                        </tr>
                    </thead>
                {% for prize in prizes %}
                    <tr>
                        <td>{{ prize.name }}</td>
                        <td>{{ prize.qty }}</td>
                        {% if prize.status == 'pending' and prize.name != 'Product' %}
                            <td>
                                <a class="btn btn-warning" href="{{ path('convert_money', {'raffledPrizeId': prize.id}) }}" title="Convert to Loyalty Points">Convert</a>
                                <a class="btn btn-success" href="{{ path('enroll_money', {'raffledPrizeId': prize.id}) }}" title="Enroll to your credit Card">Enroll</a>
                                <a class="btn btn-danger" href="{{ path('decline_prize', {'raffledPrizeId': prize.id}) }}">Decline</a>
                            </td>
                        {% elseif prize.status == 'pending' and prize.name == 'Product' %}
                            <td>
                                <a class="btn btn-success" href="{{ path('accept_prize', {'raffledPrizeId': prize.id}) }}">Accept</a>
                                <a class="btn btn-danger" href="{{ path('decline_prize', {'raffledPrizeId': prize.id}) }}">Decline</a>
                            </td>
                        {% else %}
                            <td>{{ prize.actionType }}</td>
                        {% endif %}
                        <td>{{ prize.status }}</td>
                    </tr>
                {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}