{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm">
                One of three columns
            </div>
        </div>
    </div>
{% endblock %}